<div fxLayout="row" fxLayoutAlign="center center">
  <form  fxFlex="70%" fxFlex.lt-sm="100%" fxLayout="column" #form="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)] = "complaint.name" name="name" required>
      <mat-error>Name must be provided</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)] = "complaint.email" name="email" #email="ngModel" email required>
      <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="email.hasError('email')">Email is not valid</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input matInput [(ngModel)] = "complaint.phoneNumber"  name="phoneNumber">
    </mat-form-field>
    <h3>Complaint info</h3>
    <mat-form-field appearance="fill">
      <mat-label>Subject</mat-label>
      <input matInput [(ngModel)] =  "complaint.subject"  #subject="ngModel" name="subject" required maxlength="30">
      <mat-error>Subject most provided</mat-error>
      <mat-hint>{{subject.value?.length || 0}} /30</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label rows="2">Content</mat-label>
      <textarea matInput [(ngModel)] =  "complaint.content"  name="content"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Image URL</mat-label>
      <input matInput [(ngModel)] =  "complaint.imageSource"  name="imageSource" [pattern]=" urlValidationPattern">
      <mat-error>Provided image URL is not a valid URL</mat-error>
    </mat-form-field>
      <button mat-raised-button color="primary" fxFlexAlign = "start" fxFlexAlign.lt-lg="stretch" [disabled] = form.invalid (click) ="submitted()">Submit</button>
  </form>
</div>
{{complaint | json}}
